// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #000000 !default;

// Text
$section-headings-color: #000000 !default;
$body-text-color: #000000 !default;
$body-link-color: #6b6b6b !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #d8d8d8 !default;
$code-text-color: #000000 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
