// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #ffffff !default;
$header-bg-color: #292929 !default;
$header-bg-color-secondary: #ffffff !default;

// Text
$section-headings-color: #292929 !default;
$body-text-color: #292929 !default;
$body-link-color: #1885b8 !default;
$blockquote-text-color: #819198 !default;

// Code
$pre-code-border-color: #292929 !default;
$pre-code-bg-color: #ebebeb !default;
$pre-code-text-color: #292929 !default;
$code-border-color: #292929 !default;
$code-bg-color: #ebebeb !default;
$code-text-color: #292929 !default;

// Borders
$border-color: #ffffff !default;
$table-border-color: #ffffff !default;
$hr-border-color: #ffffff !default;
